{% extends 'base.html' %}
{% block head %}{% endblock %}



{% block content %}
<!DOCTYPE html>
<html>

<body>
<style>
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 100px auto;
    max-width: 80%;  /* image shrinks if too big */
    height: auto;    /* keeps proportions */
    }
</style>
</style>
<img src="{{ url_for('static', filename='images/404.png') }}" alt="Image" class="center-img">
<a href="/signin" style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:9999;">
</a>

</body>
</html>



{% endblock %}