{% extends 'base.html' %}
{% block head %}
<title>
    Sign in
</title>
{% endblock %}



{% block content %}


  <div class="container">
    <h2 class="title">Sign in HERE</h2>
    <hr class="divider">

    <form method="POST" action="/signin_check" class="signup-form">
      <input type="email" name="email" placeholder="EMAIL" class="input-field" required>
      <input type="password" name="password" placeholder="PASSWORD" class="input-field" required>
      
      <button type="submit" class="btn">PROCEED</button>
    </form>
    <p class="signin-text">
      Don't have an account?
      <a href="/" class="signin-link">Sign up</a>
    </p>
  </div>

{% endblock %}